<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    /* margin: -8px; */
    display: flex;
    align-items: center;
    /* background-color: #1976d2; */
    border-bottom: 1px solid #c2c3c4;
    /* color: white; */
    font-weight: 600;
  }

  .col-logo {
      flex: 0 0 200px;
      padding: 20px 40px;

      /* img {
          width: 118px;
      } */
  }

  .logo-image {
    width: 100%;
    padding: 1em;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .menuHamburger.dropdown-toggle::after {
    display: none;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>
<div id="landscape-mode" style="display: none;">
  This app dose not work in landscape mode. Try potrait.
</div>
<ng-sidebar-container id="potrait-mode" style="display: block;">

  <ng-sidebar
        [(opened)]="opened"
        [mode]="menuMode"
        [position]="menuPosition"
        [dockedSize]="'50px'"
        [closeOnClickOutside]="menuCloseOnClickOutside"
        [closeOnClickBackdrop]="menuCloseOnClickBackdrop"
        [showBackdrop]="menuShowBackdrop"
        [animate]="menuAnimate">
        <!-- <p>Sidebar contents</p> -->
        <button class="demo-control" (click)="toggleSidebar()">Close menu</button>
        <h5 class="card-title">Rustum Abdurahman</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rooty Hills High School</h6>

        <!-- <p><a closeSidebar>This will close the sidebar too</a></p> -->

        <hr>
        <h5 class="card-title">What is Phonic screening check?</h5>
        <p>Throwup on your pillow.</p>
        <p>Steal the warm chair right after you get up.</p>
        <p>Use lap as chair hide head under blanket.</p>
        <p>Walk on car leaving trail of paw prints on hood.</p>
        <p>Steal the warm chair right after you get up.</p>
        <p><a href="" target="_blank" rel="noopener noreferrer">Learn more about the Phonic screenig check</a></p>
        <p><a href="" target="_blank" rel="noopener noreferrer">Learn more about the importance of Phonics</a></p>
        <hr>
        <h5 class="card-title">Go to ALAN home page</h5>
        <hr>
        <h5 class="card-title">Logout</h5>
      </ng-sidebar>

    <ng-sidebar
      [(opened)]="filterMenuOpened"
      [mode]="menuMode"
      [position]="menuFilterPosition"
      [dockedSize]="'50px'"
      [closeOnClickOutside]="menuCloseOnClickOutside"
      [closeOnClickBackdrop]="menuCloseOnClickBackdrop"
      [showBackdrop]="menuShowBackdrop"
      [animate]="menuAnimate">
      <!-- <p>Sidebar contents</p> -->
      <!-- <button class="demo-control" (click)="toggleFilterSidebar()">Close filter</button> -->
      <h6 class="card-title"><i class="fa fa-filter fa-2" aria-hidden="true"></i>&nbsp;&nbsp;Filter by:</h6>
      <hr>
      <h6 class="card-title" (click)="filterResults($event, 40, 28); toggleFilterSidebar();"><div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #27A7AE; font-size: 12px;">40-28</div>&nbsp;&nbsp;On track</h6>
      <hr>
      <h6 class="card-title" (click)="filterResults($event, 27, 20); toggleFilterSidebar();"><div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E4CE7D; font-size: 12px;">27-20</div>&nbsp;&nbsp;Carefully monitor</h6>
      <hr>
      <h6 class="card-title" (click)="filterResults($event, 19, 0); toggleFilterSidebar();"><div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #F27B75; font-size: 12px;">&nbsp;19-0&nbsp;</div>&nbsp;&nbsp;Support required</h6>
      <hr>
      <h6 class="card-title" (click)="filterResults($event, 'na', 'na'); toggleFilterSidebar();"><div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E5E5E5; font-size: 12px;">&nbsp;&nbsp;&nbsp;na&nbsp;&nbsp;&nbsp;</div>&nbsp;&nbsp;Not assessed</h6>
      <hr>
      <h6 class="card-title" (click)="filterResults($event, 'lodged', 'lodged'); toggleFilterSidebar();">Lodged assessment</h6>
      <hr>
      <h6 class="card-title" (click)="filterResults($event, 'assessed', 'assessed'); toggleFilterSidebar();">Continue progress</h6>
      <hr>
      <h6 class="card-title" (click)="filterResults($event, 'na', 'na'); toggleFilterSidebar();">Start assessment</h6>
      <hr>
      <h6 class="card-title"  (click)="filterResults($event, 'all', 'all'); toggleFilterSidebar();"><div class="badge badge-secondary badge-pill p-2" style="font-size: 16px; width: 100%;">Clear filter</div></h6>
    </ng-sidebar>

    <ng-sidebar
        [(opened)]="bottomMenuOpened"
        [mode]="menuMode"
        [position]="menuBottomPosition"
        [dockedSize]="'50px'"
        [closeOnClickOutside]="menuCloseOnClickOutside"
        [closeOnClickBackdrop]="menuCloseOnClickBackdrop"
        [showBackdrop]="menuShowBackdrop"
        [animate]="menuAnimate">
        <!-- <div style="height: auto; width: 100%; display: inline-block; border-bottom: 1px solid #ccc;">
          <div class="" style="display: inline-block;">
            <div class="mt-2"><img width="20"class="ml-2 mr-2" alt="Angular Logo" src="assets/images/DoE_Logo_K_RGB.svg"/> ALAN - Phonic screening check</div>
            <div class="h4 mt-1 ml-2" style="font-weight: 700;">Adams Jane</div>
          </div>

          <div class="btn-group pull-right" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary  ">Review</button>
            <button type="button" class="btn btn-primary  ">Mark remaining as...</button>
            <button type="button" class="btn btn-primary  ">Instructions</button>
            <button type="button" class="btn btn-primary  ">Help</button>
            <button type="button" class="btn btn-primary  " (click)="toggleBottomSidebar()">Exit</button>
          </div>
          <ul class="pull-right" style="display: inline-block; margin-top: 8px;">
            <li><a href="">Review</a></li>
            <li><a href="">Mark remaining as...</a></li>
            <li><a href="">Instructions</a></li>
            <li><a href="">Help</a></li>
            <li><a (click)="toggleBottomSidebar()">Exit</a></li>
          </ul>
        </div> -->
         <div class="toolbar" role="banner">
          <div class="">
            <div class="mt-2 ml-2">Phonics screening check Trial</div>
            <div class="h4 mt-1 ml-2" style="font-weight: 700;">Adams Jane</div>
          </div>
          <div class="spacer"></div>
          <button class="btn btn-primary btn-sm mr-2 d-block d-sm-none">Help</button>
          <button class="btn btn-primary btn-sm mr-2 d-block d-sm-none" (click)="toggleBottomSidebar()">Exit</button>
          <div class="btn-group d-none d-md-block d-sm-block" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary  ">Lodge</button>
            <button type="button" class="btn btn-primary  ">Review</button>
            <button type="button" class="btn btn-primary  ">Mark remaining as...</button>
            <button type="button" class="btn btn-primary  ">Help</button>
            <button type="button" class="btn btn-primary  " (click)="toggleBottomSidebar()">Exit</button>
          </div>
        </div>
        <!-- <div style="height: auto; width: 100%; display: inline-block; border-bottom: 1px solid #ccc;" class="d-block d-sm-none"> -->
        <div class="toolbar d-block d-sm-none" role="banner" style="height: auto;">
          <div class="spacer"></div>
          <div class="btn-group btn-block" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary  " style="font-size: 12px;">Lodge</button>
            <button type="button" class="btn btn-primary  " style="font-size: 12px;">Review</button>
            <button type="button" class="btn btn-primary  " style="font-size: 12px;">Mark remaining as...</button>
            <button type="button" class="btn btn-primary  " style="font-size: 12px;">Save</button>
          </div>
        </div>
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </nav> -->
        <div class="d-block d-sm-none">
          <p><ngb-progressbar type="success" [value]="25" height=".5rem"></ngb-progressbar></p>
          <div style="width: 100%; display: inline-block;"><span class="pull-right mr-3" style="font-size: 12px;">10/40 completed. 2 questions skipped.</span></div>
        </div>
        <div class="content my-0">
          <div class="d-none d-md-block d-sm-block" style="height: calc(100vh - 250px);width: 100%; overflow: auto; padding: 5px;">
            <div *ngFor="let question of questions | slice:questionListStart:questionListEnd; index as i" style="width: 100%; height: auto; border: 1px solid #888; margin-bottom: 10px; padding: 10px; border-radius: .25rem; padding-bottom: 0px;">
              <div class="row">
                <div class="col-7">
                {{ question.questionNumber }} . <span class="card-title1" style="font-size: 32px; margin-bottom: 16px;">{{ question.question }}</span>
                  <div class="btn-group1 mt-2" data-toggle="buttons">
                    <label class="btn btn-sm mr-3" [class.btn-primary]="s" [class.btn-outline-secondary]="!s">
                      <input type="radio" name="options" id="option1"  [value]="true"> correct
                    </label>
                    <label class="btn btn-sm" [class.btn-primary]="!s" [class.btn-outline-secondary]="s">
                      <input type="radio" name="options" id="option2"  [value]="false"> incorrect
                    </label>
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comments</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- For Small devices -->
          <div class="d-block d-sm-none" style="width: 100%;">

            <div class="card mt-0" *ngFor="let question of questions | slice:questionListStart:questionListEnd; index as i" style="width: 100%; height: auto; border: 1px solid #888; margin-bottom: 15px; padding: 0px; border-radius: .25rem; display: inline-block;">
              <div class="card-body p-0">
                <div class="row m-0">
                  <div class="col-6 pr-0 my-auto">
                    {{ question.questionNumber }} . <span class="card-title1" style="font-size: 32px; margin-bottom: 16px;">{{ question.question }}</span>
                  </div>
                  <div class="col-6 pl-0">
                    <div style="width: 100%;">Comment <i class="fa fa-pencil-square-o fa-1 pull-right mt-1"></i></div>
                    <div style="border: 1px solid #ccc; border-radius: 2px; margin-bottom: 5px; height: 44px; padding: 5px;">
                      Well
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer p-0">
                <div class="btn-group" data-toggle="buttons" style="width: 100%;">
                  <label class="btn btn-sm m-0" [class.btn-primary]="s" [class.btn-outline-secondary]="!s" style="border-radius: 0px; border: none; font-size: 18px;">
                    <input type="radio" name="options" id="option1"  [value]="true"> Correct
                  </label>
                  <label class="btn btn-sm m-0" [class.btn-primary]="!s" [class.btn-outline-secondary]="s" style="border-radius: 0px; border: none; font-size: 18px;">
                    <input type="radio" name="options" id="option2"  [value]="false"> Incorrect
                  </label>
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer d-block d-sm-none pt-0 pb-1 pl-3 pr-3" style="position: fixed; bottom: 0px; width: 100%; background-color: #fff; border-top: none;">
            <button type="button" class="btn btn-outline-primary pull-left">Next</button>
            <button type="button" class="btn btn-outline-primary pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-outline-primary pull-right mr-2"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
          </div>
        </div>
    </ng-sidebar>

<div ng-sidebar-content>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a class="ml-2 mt-2" href='https://education.nsw.gov.au/'>
    <img width="40" alt="Angular Logo" src="assets/images/DoE_Logo_K_RGB.svg"/>
  </a>
  <div class="mr-2">
    <strong><p class="h4 mt-2" style="font-weight: 700;">ALAN</p> </strong>
    <div style="font-size: smaller;">assessments</div>
  </div>
  <span>Test School Name</span>
  <div class="spacer"></div>
  <div ngbDropdown class="d-inline-block mt-2 mr-3">
    <!-- <button class="btn btn-outline-primary menuHamburger d-none d-md-block d-sm-block" id="main-menu" name="main-menu" title="main menu" ngbDropdownToggle>
      Menu <span class="fa fa-bars"></span>
    </button> -->
    <button class="btn btn-outline-primary menuHamburger d-none d-md-block d-sm-block" id="main-menu1" name="main-menu1" title="main menu1" (click)="toggleSidebar()">
      Menu <span class="fa fa-bars"></span>
    </button>
    <button class="btn btn-outline-primary menuHamburger d-block d-sm-none" id="main-menu" name="main-menu" title="main menu" (click)="toggleSidebar()">
      <span class="fa fa-bars"></span>
    </button>
    <!-- <div ngbDropdownMenu aria-labelledby="main-menu">
      <ul style="list-style-type: none;padding:5px 0px 0px 10px">
        <li>Plan
          <ul style="list-style-type: none;padding-left:5px">
            <li>
              <a ngbDropdownItem routerLink="manageAreaofFocus"  class="dropdown-item" title="Areas of focus">Areas of focus</a>
            </li>
          </ul>
        </li>
      </ul>
    </div> -->
  </div>
</div>

<div class="toolbar" role="banner" style="background-color: #041E42; color: #fff; height: 108px;">
  <div class="ml-4" style="width: 98%;">
    <p class="h5" style="font-weight: normal;">Phonics screening check Trial</p>
    <div class="">
      <form>
        <div class="form-row mt-2">
          <div class="form-group mb-0 mr-4">
            <label for="yearLevel" class="mb-0">Select year level</label>
            <!-- <select id="yearLevel" class="form-control" style="width: 200px;">
              <option selected>Year 1</option>
              <option selected>Year 2</option>
              <option selected>Year 3</option>
              <option selected>Year 4</option>
              <option selected>Year 5</option>
              <option selected>Year 6</option>
              <option selected>Year 7</option>
              <option selected>Year 8</option>
              <option selected>Year 9</option>
              <option selected>Year 10</option>
              <option selected>Year 11</option>
              <option selected>Year 12</option>
            </select> -->
            <ng-select
                [items]="students"
                bindLabel="name"
                [multiple]="false"
                placeholder="Select year"
                >
            </ng-select>
          </div>
          <div class="form-group  mb-0">
            <label for="rollClass" class="mb-0">Select class or group</label>
            <!-- <select id="rollClass" class="form-control" style="width: 200px;">
              <option selected>Select class or group</option>
            </select> -->
            <ng-select
                [items]="students"
                bindLabel="name"
                [multiple]="false"
                placeholder="Select class"
                >
            </ng-select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="ml-4" style="font-size: 18px; font-weight: normal;">Phonics Screening check </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div> -->
</div>
<nav class="navbar navbar-light bg-light mb-2 p-0 d-none d-md-block d-sm-block shadow-sm" style="width: 100%; border: 1px solid #ccc; ">
  <span class="row ml-3" style="width: 99%;">
    <a class="all-students result-menu text-center pt-1 pl-2 pr-2 mr-3 mt-1 activeFilter" style=" height: 38px; width: 125px; cursor: pointer;" (click)="filterResults($event, 'all', 'all')">
      All students
    </a>
    <a class="result-menu text-center pl-2 pr-2 mr-3 mt-1" style="height: 38px; cursor: pointer;" (click)="filterResults($event, 40, 28)">
      <div class="badge badge-primary badge-pill p-2 mr-2" style="color: #151515; background-color: #27A7AE; font-size: 12px;">&nbsp;&nbsp;&nbsp;40-28&nbsp;&nbsp;&nbsp;</div>
      On track
    </a>
    <a class="result-menu text-center pl-2 pr-2 mr-3 mt-1" style="height: 38px; cursor: pointer;" (click)="filterResults($event, 27, 20)">
      <div class="badge badge-primary badge-pill p-2 mr-2" style="color: #151515; background-color: #E4CE7D; font-size: 12px;">&nbsp;&nbsp;&nbsp;27-20&nbsp;&nbsp;&nbsp;</div>
      Carefully monitor
    </a>
    <a class="result-menu text-center pl-2 pr-2 mr-3 mt-1" style="height: 38px; cursor: pointer;" (click)="filterResults($event, 19, 0)">
      <div class="badge badge-primary badge-pill p-2 mr-2" style="color: #151515; background-color: #F27B75; font-size: 12px;">&nbsp;&nbsp;&nbsp;19-0&nbsp;&nbsp;&nbsp;</div>
      Support required
    </a>
    <a class="result-menu text-center pl-1 pr-1 mr-3 mt-1" style="height: 38px; cursor: pointer;" (click)="filterResults($event, 'na', 'na')">
      <div class="badge badge-primary badge-pill p-2 mr-2" style="color: #151515; background-color: #E5E5E5; font-size: 12px;">&nbsp;&nbsp;&nbsp;na&nbsp;&nbsp;&nbsp;</div>
      not assessed
    </a>
  </span>
  <!-- <div ngbDropdown class="d-inline-block ml-5">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Filter by action</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Start</button>
      <button ngbDropdownItem>Continue progress</button>
      <button ngbDropdownItem>Lodged</button>
    </div>
  </div> -->
</nav>

<div class="content mb-0 mt-2" role="main">
  <div style="width: 100%;" class="d-block d-sm-none">
    <span class="mt-2" style="display: inline-block;" *ngIf="showFilteredByText">Filtered by: <strong>{{filteredBy}}</strong> </span>
    <button class="btn btn-sm btn-outline-primary shadow-sm pull-right" (click)="toggleFilterSidebar()"><i class="fa fa-filter fa-2" aria-hidden="true"></i>&nbsp;&nbsp;Filter by:</button>
  </div>

    <nav class="navbar navbar-light bg-light mb-2  p-0 pt-2 d-block d-sm-none shadow-sm" style="width: 100%; border: 1px solid #ccc; border-radius: 5px; display: none !important;">
      <!-- <span class="row" style="width: 100%; margin: 0px;">
        <a class="col-2 text-center pl-2 pr-2 activeFilter" (click)="filterResults($event, 'all', 'all')">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #fff; font-size: 12px;">&nbsp;&nbsp;All&nbsp;&nbsp;</div>
          <div class="badge-text">
            students
          </div>
        </a>
        <a class="col-3 text-center pl-2 pr-2" (click)="filterResults($event, 40, 28)">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #27A7AE; font-size: 12px;">40-28</div>
          <div class="badge-text">
            on track
          </div>
        </a>
        <a class="col-2 text-center pl-2 pr-2" (click)="filterResults($event, 27, 20)">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E4CE7D; font-size: 12px;">27-20</div>
          <div class="badge-text">
            mild
          </div>
        </a>
        <a class="col-3 text-center pl-2 pr-2" (click)="filterResults($event, 19, 0)">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #F27B75; font-size: 12px;">19-0</div>
          <div class="badge-text">
            critical
          </div>
        </a>
        <a class="col-2 text-center pl-1 pr-1" (click)="filterResults($event, 'na', 'na')">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E5E5E5; font-size: 12px;">&nbsp;&nbsp;&nbsp;na&nbsp;&nbsp;&nbsp;</div>
          <div class="badge-text">
            na
          </div>
        </a>
      </span> -->
      <span class="row" style="width: 100%; margin: 0px;">
        <a class="col-4 text-center pl-2 pr-2 activeFilter" (click)="filterResults($event, 'all', 'all')">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #fff; font-size: 12px;">&nbsp;&nbsp;All&nbsp;&nbsp;</div>
          <div class="badge-text">
            students
          </div>
        </a>
        <a class="col-4 text-center pl-2 pr-2" (click)="filterResults($event, 40, 28)">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #27A7AE; font-size: 12px;">40-28</div>
          <div class="badge-text">
            on track
          </div>
        </a>
        <a class="col-4 text-center pl-2 pr-2" (click)="filterResults($event, 27, 20)">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E4CE7D; font-size: 12px;">27-20</div>
          <div class="badge-text">
            mild orange
          </div>
        </a>
        <a class="col-4 text-center pl-2 pr-2 mt-2" (click)="filterResults($event, 19, 0)">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #F27B75; font-size: 12px;">19-0</div>
          <div class="badge-text">
            critical chemistry make
          </div>
        </a>
        <a class="col-4 text-center pl-2 pr-2 mt-2" (click)="filterResults($event, 'na', 'na')">
          <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E5E5E5; font-size: 12px;">&nbsp;&nbsp;&nbsp;na&nbsp;&nbsp;&nbsp;</div>
          <div class="badge-text">
            na
          </div>
        </a>
        <a class="col-4 text-center pl-2 pr-2 mt-2">
          <!-- <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E5E5E5; font-size: 12px;">&nbsp;&nbsp;&nbsp;na&nbsp;&nbsp;&nbsp;</div>
          <div class="badge-text">
            na
          </div> -->
          <button class="btn btn-sm btn-outline-primary"><i class="fa fa-filter fa-2" aria-hidden="true"></i>&nbsp;&nbsp;Filter by:</button>
        </a>
      </span>
      <!-- <div class="mt-2">
        <span class="row" style="width: 100%; margin: 0px;">
          <a class="col-4 text-center pl-2 pr-2" (click)="filterResults($event, 19, 0)">
            <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #F27B75; font-size: 12px;">19-0</div>
            <div class="badge-text">
              critical
            </div>
          </a>
          <a class="col-4 text-center pl-1 pr-1" (click)="filterResults($event, 'na', 'na')">
            <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E5E5E5; font-size: 12px;">&nbsp;&nbsp;&nbsp;na&nbsp;&nbsp;&nbsp;</div>
            <div class="badge-text">
              na
            </div>
          </a>
          <a class="col-4 text-center pl-1 pr-1" (click)="filterResults($event, 'na', 'na')">
            <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E5E5E5; font-size: 12px;">&nbsp;&nbsp;&nbsp;na&nbsp;&nbsp;&nbsp;</div>
            <div class="badge-text">
              na
            </div>
          </a>
        </span>
      </div> -->
    </nav>

    <ng-template #popContent>
      <button type="button" class="btn btn-primary btn-sm btn-block" (click)="filterResults($event, 'lodged', 'lodged')">Lodged</button>
      <button type="button" class="btn btn-primary btn-sm btn-block" (click)="filterResults($event, 'assessed', 'assessed')">Continue</button>
      <button type="button" class="btn btn-primary btn-sm btn-block" (click)="filterResults($event, 'na', 'na')">Start</button>
      <!-- <button type="button" class="btn btn-primary btn-sm btn-block" (click)="filterResults($event, 'all', 'all')">Clear filter</button> -->
    </ng-template>
    <ng-template #popTitle>
      <i class="fa fa-filter fa-2" aria-hidden="true"></i>&nbsp;&nbsp;Filter by: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="badge badge-primary badge-pill p-2" style="color: #fff; border-color: #041E42; font-size: 12px; cursor: pointer;" (click)="filterResults($event, 'all', 'all')">Clear filter</span>
    </ng-template>

    <div class="d-none d-md-block d-sm-block mb-2" style="width: 100%;">
      <span class="mt-1 bg-light" style="display: inline-block; border: 1px solid #ccc; padding: 5px; border-radius: 5px;" *ngIf="showFilteredByText">
        The result is filtered by <strong>{{filteredBy}}</strong>&nbsp;&nbsp;
        <span class="clear-filter" (click)="filterResults($event, 'all', 'all')">X&nbsp;&nbsp;&nbsp;Clear filter</span>
      </span>
      <!-- <button class="btn btn-outline-primary btn-sm pull-right" id="dropdownBasic1" [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="left" popoverClass="popover-custom"><i class="fa fa-filter fa-2" aria-hidden="true"></i>&nbsp;&nbsp;Filter by:</button> -->

      <div ngbDropdown class="d-inline-block pull-right" placement="bottom-right" #myDrop="ngbDropdown">
        <button class="btn btn-sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-filter fa-2" aria-hidden="true"></i>&nbsp;&nbsp;Filter by:</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 233px; left: -72px; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;" class="pt-0">
          <div style="" class="filterby-header">
            <i class="fa fa-filter fa-2" aria-hidden="true"></i>&nbsp;&nbsp;Filter by: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="badge badge-primary badge-pill p-2" style="color: #fff; border-color: #041E42; font-size: 12px; cursor: pointer;" (click)="filterResults($event, 'all', 'all')">Clear filter</span>
          </div>
          <form class="px-2 py-2">
            <button type="button" class="btn btn-primary btn-sm btn-block" (click)="filterResults($event, 'lodged', 'lodged'); myDrop.close();">Lodged</button>
            <button type="button" class="btn btn-primary btn-sm btn-block" (click)="filterResults($event, 'assessed', 'assessed'); myDrop.close();">Continue</button>
            <button type="button" class="btn btn-primary btn-sm btn-block" (click)="filterResults($event, 'na', 'na'); myDrop.close();">Start</button>
          </form>
          <!-- <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button> -->
        </div>
      </div>
    </div>

    <table class="table table-striped mb-0 d-none d-md-block d-sm-block" style="border: 1px solid #ccc;">
      <thead>
      <tr>
        <th scope="col">Student</th>
        <!-- <th scope="col">Action &nbsp;&nbsp; <i class="fa fa-filter fa-2" aria-hidden="true" style="cursor: pointer;" [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="bottom" popoverClass="popover-custom"></i> </th> -->
        <th scope="col">Action</th>
        <th scope="col">Result</th>
        <th scope="col">Summary</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students | filterResults:resultFilter; index as i">
        <td>
          <div style="font-size: 18px;">{{ student.name }}</div>
          <div style="font-size: 13px;">{{ student.assessmentStatus == 'na' ? 'not assessed': student.assessmentStatus }}  {{ student.statusDate }}</div>
        </td>
        <td>
          <div class="" style="width:74px;">
            <!-- <button type="button" class="btn btn-primary btn-sm btn-block" *ngIf="student.assessmentStatus == 'lodged'" (click)="toggleBottomSidebar()">Lodged</button>
            <button type="button" class="btn btn-primary btn-sm btn-block" *ngIf="student.assessmentStatus == 'assessed'" (click)="toggleBottomSidebar()">Continue</button>
            <button type="button" class="btn btn-primary btn-sm btn-block" *ngIf="student.assessmentStatus == 'paused'" (click)="toggleBottomSidebar()">Continue</button>
            <button type="button" class="btn btn-primary btn-sm btn-block" *ngIf="student.assessmentStatus == 'na'" (click)="toggleBottomSidebar()">Start</button> -->
            <button type="button" class="btn btn-light btn-sm btn-block" style="border: 1px solid #ccc;"  *ngIf="student.assessmentStatus == 'lodged'" [disabled]="student.assessmentStatus == 'lodged'">Lodged</button>
              <button type="button" class="btn btn-primary btn-sm btn-block"  *ngIf="student.assessmentStatus == 'assessed'" (click)="toggleBottomSidebar()">Continue</button>
              <button type="button" class="btn btn-primary btn-sm btn-block"  *ngIf="student.assessmentStatus == 'paused'" (click)="toggleBottomSidebar()">Continue</button>
              <button type="button" class="btn btn-primary btn-sm btn-block"  *ngIf="student.assessmentStatus == 'na'" (click)="toggleBottomSidebar()">Start</button>
          </div>
        </td>
        <td>
          <div class="col-3 text-center pl-2 pr-2" *ngIf="student.result <=40 && student.result >=28">
            <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #27A7AE; font-size: 12px;">{{ student.result }}</div>
          </div>
          <div class="col-3 text-center pl-2 pr-2" *ngIf="student.result <=27 && student.result >=20">
            <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E4CE7D; font-size: 12px;">{{ student.result }}</div>
          </div>
          <div class="col-3 text-center pl-2 pr-2" *ngIf="student.result <=19 && student.result >=0">
            <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #F27B75; font-size: 12px;">{{ student.result }}</div>
          </div>
          <div class="col-3 text-center pl-2 pr-2" *ngIf="student.result === 'na'">
            <div class="badge badge-primary badge-pill p-2" style="color: #151515; background-color: #E5E5E5; font-size: 12px;">{{ student.result }}</div>
          </div>
        </td>
        <td>
          pdf
        </td>
      </tr>
      </tbody>
    </table>

    <!-- <div class="d-block d-sm-none" style="height: calc(var(--vh,1vh) * 100 - 222px); overflow: auto;">
      <div class="card p-0" *ngFor="let student of students; index as i" style="height: auto; width: 100%; border: 1px solid #ccc; display: inline-block;" >
        <div class="card-body pb-2 pt-2" style="background-color: #fff;">
          <div class="row">
            <div class="col-9" style="border-right: 1px solid #ebeff2;">
              <div style="font-size: 24px;">{{ student.name }}</div>
              <div style="font-size: 14px;">{{ student.assessmentStatus == 'na' ? 'not assessed': student.assessmentStatus }}  {{ student.statusDate }}</div>
            </div>
            <div class="col-3 my-auto">
              <div class="align-middle" style="width: 100%; text-align: center; border: 1px solid #ccc; border-radius: 24px;">{{ student.result }}</div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right pt-2 pb-2" style="background-color: #f8f9fa !important;">
          <button type="button" class="btn btn-outline-secondary btn-sm mr-3">PDF</button>
          <button type="button" class="btn btn-primary btn-sm " style="width: 75px;" *ngIf="student.assessmentStatus == 'lodged'" (click)="toggleBottomSidebar()">Lodged</button>
          <button type="button" class="btn btn-primary btn-sm " style="width: 75px;"  *ngIf="student.assessmentStatus == 'assessed'" (click)="toggleBottomSidebar()">Continue</button>
          <button type="button" class="btn btn-primary btn-sm " style="width: 75px;"  *ngIf="student.assessmentStatus == 'paused'" (click)="toggleBottomSidebar()">Continue</button>
          <button type="button" class="btn btn-primary btn-sm " style="width: 75px;"  *ngIf="student.assessmentStatus == 'na'" (click)="toggleBottomSidebar()">Start</button>
        </div>
      </div>
    </div> -->

    <div class="d-block d-sm-none" style="width: 100%; height: calc(var(--vh,1vh) * 100 - 232px); overflow: auto;">
      <div class="card p-0 shadow-sm" *ngFor="let student of students | filterResults:resultFilter; index as i" style="height: auto; width: 100%; border: 1px solid #ccc; display: inline-block; border-left: 5px solid #ccc;" >
        <div class="card-body pb-0 pt-2" style="background-color: #fff;padding-left: 15px; padding-right: 15px;">
          <div class="row">
            <div class="col-9" style="border-right: 1px solid #ebeff2;">
              <div class="row">
                <div class="col-9 pr-1 pl-1">
                  <div>
                    <span style="font-size: 18px;">{{ student.name }}</span>
                    <!-- <span class="badge badge-pill p-2 pull-right" style="color: #151515; font-size: 12px; border: 1px solid #ccc;">
                      &nbsp;&nbsp;&nbsp;&nbsp;{{ student.result }}&nbsp;&nbsp;&nbsp;&nbsp;
                    </span> -->
                  </div>
                  <div style="font-size: 14px;">{{ student.assessmentStatus == 'na' ? 'not assessed': student.assessmentStatus }}  {{ student.statusDate }}</div>
                  <div style="font-size: 14px;"><a>Assessment summary</a></div>
                </div>
                <div class="col-3 my-auto pl-0 pr-1 text-center">
                  Result
                  <span class="badge badge-pill " style="color: #151515; font-size: 12px; border: 1px solid #ccc; background-color: #27A7AE; height: 40px; width: 40px; padding-top: 13px;" *ngIf="student.result <=40 && student.result >=28">
                    {{ student.result }}
                  </span>
                  <span class="badge badge-pill " style="color: #151515; font-size: 12px; border: 1px solid #ccc; background-color: #E4CE7D; height: 40px; width: 40px; padding-top: 13px;" *ngIf="student.result <=27 && student.result >=20">
                    {{ student.result }}
                  </span>
                  <span class="badge badge-pill " style="color: #151515; font-size: 12px; border: 1px solid #ccc; background-color: #F27B75; height: 40px; width: 40px; padding-top: 13px;" *ngIf="student.result <=19 && student.result >=0">
                    {{ student.result }}
                  </span>
                  <span class="badge badge-pill " style="color: #151515; font-size: 12px; border: 1px solid #ccc; background-color: #E5E5E5; height: 40px; width: 40px; padding-top: 13px;" *ngIf="student.result === 'na'">
                    {{ student.result }}
                  </span>
                </div>
              </div>

            </div>
            <div class="col-3 my-auto pl-1 pr-1">
              <!-- <div class="align-middle" style="width: 100%; text-align: center; border: 1px solid #ccc; border-radius: 24px;">{{ student.result }}</div> -->
              <!-- <button type="button" class="btn btn-outline-secondary btn-sm mr-3">PDF</button> -->
              <button type="button" class="btn btn-light btn-sm btn-block" style="border: 1px solid #ccc;"  *ngIf="student.assessmentStatus == 'lodged'" [disabled]="student.assessmentStatus == 'lodged'">Lodged</button>
              <button type="button" class="btn btn-primary btn-sm btn-block"  *ngIf="student.assessmentStatus == 'assessed'" (click)="toggleBottomSidebar()">Continue</button>
              <button type="button" class="btn btn-primary btn-sm btn-block"  *ngIf="student.assessmentStatus == 'paused'" (click)="toggleBottomSidebar()">Continue</button>
              <button type="button" class="btn btn-primary btn-sm btn-block"  *ngIf="student.assessmentStatus == 'na'" (click)="toggleBottomSidebar()">Start</button>
            </div>
          </div>
          <div class="row">

            <!-- <div class="col-12 pl-1 pr-0" *ngIf="student.result <=40 && student.result >=28" style="border-top: 1px solid #ebeff2; color: #151515; background-color: #27A7AE; font-size: 12px;">
              Result (40-28)
              <span class="pull-right" style="padding-right: 15px;">On track</span>
            </div> -->
            <!-- <div class="col-12 pl-1 pr-0" *ngIf="student.result <=27 && student.result >=20" style="border-top: 1px solid #ebeff2; color: #151515; background-color: #E4CE7D; font-size: 12px;">
              Result (27-20)
              <span class="pull-right" style="padding-right: 15px;">Carefully monitor</span>
            </div> -->
            <!-- <div class="col-12 pl-1 pr-0" *ngIf="student.result <=19 && student.result >=0" style="border-top: 1px solid #ebeff2; color: #151515; background-color: #F27B75; font-size: 12px;">
              Result (19-0)
              <span class="pull-right" style="padding-right: 15px;">Further support required</span>
            </div> -->
            <!-- <div class="col-12 pl-1 pr-0" *ngIf="student.result === 'na'"  style="border-top: 1px solid #ebeff2; color: #151515; background-color: #E5E5E5; font-size: 12px;">
              Result (na)
              <span class="pull-right" style="padding-right: 15px;">Not assessed</span>
            </div> -->

            <div class="col-12 pl-1 pr-0" *ngIf="student.result <=40 && student.result >=28" style=" color: #151515; font-size: 12px;">
              <!-- Result (40-28) -->
              <span class="badge badge-pill p-1 pl-3 pr-3" style="margin-right: 4px; background-color: #27A7AE; font-size: 12px; margin-top: 2px;">40-28</span> On track
            </div>
            <div class="col-12 pl-1 pr-0" *ngIf="student.result <=27 && student.result >=20" style=" color: #151515; font-size: 12px;">
              <!-- (27-20) -->
              <span class="badge badge-pill p-1 pl-3 pr-3" style="margin-right: 4px; background-color: #E4CE7D; font-size: 12px; margin-top: 2px;">27-20</span> Carefully monitor
            </div>
            <div class="col-12 pl-1 pr-0" *ngIf="student.result <=19 && student.result >=0" style="color: #151515; font-size: 12px;">
              <!-- Result (19-0) -->
              <span class="badge badge-pill p-1 pl-3 pr-3" style="margin-right: 4px; background-color: #F27B75; font-size: 12px; margin-top: 2px;">19-0</span> Support required
            </div>
            <div class="col-12 pl-1 pr-0" *ngIf="student.result === 'na'"  style="color: #151515; font-size: 12px;">
              <!-- Result (na) -->
              <span class="badge badge-pill p-1 pl-3 pr-3" style="margin-right: 4px; background-color: #E5E5E5; font-size: 12px; margin-top: 2px;">&nbsp;&nbsp;&nbsp;na&nbsp;&nbsp;&nbsp;</span> Not assessed
            </div>

          </div>
        </div>
      </div>
    </div>

</div>
<router-outlet></router-outlet>
</div>
</ng-sidebar-container>
