::ng-deep aside {
  background-color: #fff;
  padding: 2em 1em;
  // width: 500px;
}

:host ::ng-deep .ng-sidebar--bottom {
  height: 100vh;
  padding: 0px;
}

tbody {
  display:block;
  height: calc(100vh - 216px);
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

:host ::ng-deep .ng-sidebar--animate {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1) !important;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1) !important;
}

// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   background-color: #041E42;
// }

// li {
//   float: left;
// }

// li a {
//   display: block;
//   color: white;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
// }

// li a:hover:not(.active) {
//   background-color: rgb(1, 13, 31);
// }

