::ng-deep aside {
  background-color: #fff;
  padding: 2em 1em;
  // width: 500px;
}

:host ::ng-deep .ng-sidebar--bottom {
  // height: 100vh;
  padding: 0px;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

tbody {
  display:block;
  // height: calc(100vh - 270px);
  height: calc(var(--vh,1vh) * 100 - 274px);
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

:host ::ng-deep .ng-sidebar--animate {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1) !important;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1) !important;
}
