::ng-deep aside {
  background-color: #fff;
  padding: 2em 1em;
  // width: 500px;
}

:host ::ng-deep .ng-sidebar--bottom {
  // height: 100vh;
  padding: 0px;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

tbody {
  display:block;
  // height: calc(100vh - 270px);
  height: calc(var(--vh,1vh) * 100 - 330px);
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

:host ::ng-deep .ng-sidebar--animate {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1) !important;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1) !important;
}

.result-menu:link, .result-menu:visited {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #041E42;
//   border: none;
//   padding: 15px 32px;
//   text-align: center;
//   -webkit-transition-duration: 0.4s;
//   transition-duration: 0.4s;
//   text-decoration: none;
//  font-size: 16px;
 cursor: pointer;
}

.result-menu:hover, .result-menu:active {
  background-color: rgba(0, 0, 0, 0.05);
  // border-bottom: 3px solid #041E42;
}

.activeFilter {
  border-bottom: 3px solid #041E42;
}

:host ::ng-deep.ng-select .ng-select-container  {
  border-radius: 0;
}

:host ::ng-deep .popover-custom {
  width: 500px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.clear-filter {
  cursor: pointer;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #212529;
  background-color: #f8f9fa;
}

.filterby-header {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}
